<app-nav></app-nav>
<div class="main">
    <h1>Personal</h1>
    <div class="contenedor">
      <div class="contenido">
          <div class="campo1">
              <label for="idDNI">DNI:</label>
              <input type="text" id="idDNI" placeholder="Ingrese su DNI">
          </div>
          <div class="campo2">
              <label for="Nombre">Nombre:</label>
              <input type="text" id="Nombre" placeholder="Ingrese su Nombre">
          </div>
          <div class="campo3">
              <label for="Apellido">Apellido:</label>
              <input type="text" id="Apellido" placeholder="Ingrese su Apellido">
          </div>
          <div class="campo4">
            <label for="Horas">Horas:</label>
            <input type="text" id="Horas" placeholder="Ingrese las Horas">
          </div>
          <div class="campo5">
            <label for="Sueldo">Sueldo:</label>
            <input type="text" id="Sueldo" placeholder="Ingrese el Sueldo">
          </div>
          <div class="campo6">
            <label for="Roll">Rol:</label>
            <input type="text" id="Roll" placeholder="Ingrese el Roll">
          </div>

          <div class="botones">
              <button id="buscar">BUSCAR <span class="icono">🔍</span></button>
              <button id="ingresar">INGRESAR <span class="icono">✈️</span></button>
              <button id="modificar">MODIFICAR <span class="icono">✏️</span></button>
              <button id="eliminar">ELIMINAR <span class="icono">🗑️</span></button>
          </div>
      </div>
</div>
