<app-nav></app-nav>
<div class="main">
  <h1>Gestión de Ventas</h1>
    <div class="contenedor">
    <div class="contenido">
        <div class="campo1">
            <label for="idVenta">ID Venta:</label>
            <input type="text" id="idVenta" placeholder="Ingrese el ID de la venta">
        </div>
        <div class="campo2">
            <label for="Nombre">Cliente:</label>
            <input type="text" id="Nombre" placeholder="Ingrese nombre de Cliente">
        </div>
        <div class="campo3">
            <label for="Apellido">Mascota:</label>
            <input type="text" id="Apellido" placeholder="Ingrese nombre de la Mascota">
        </div>
        <div class="campo4">
            <label for="Correo">Producto/Servicio:</label>
            <input type="text" id="Correo" placeholder="Ingrese el producto/servicio">
        </div>
        <div class="campo5">
            <label for="Contraseña">Cantidad:</label>
            <input type="text" id="Contraseña" placeholder="Ingrese la cantidad">
        </div>
        <div class="campo6">
            <label for="Teléfono">Precio Unitario:</label>
            <input type="text" id="Teléfono" placeholder="Ingrese el precio Unitario">
        </div>
        <div class="campo7">
            <label for="Dirección">Total:</label>
            <input type="text" id="Dirección" placeholder="Ingrese el Total">
        </div>
        <div class="campo8">
          <label for="pago">Método de Pago:</label>
          <select id="pago">
            <option value="">Seleccione el método de pago</option>
            <option value="perro">Efectivo</option>
            <option value="gato">Tarjeta</option>
            <option value="conejo">QR</option>
          </select>
        </div>
        <div class="botones">
            <button id="buscar">BUSCAR <span class="icono">🔍</span></button>
            <button id="ingresar">INGRESAR <span class="icono">✈️</span></button>
            <button id="modificar">MODIFICAR <span class="icono">✏️</span></button>
            <button id="eliminar">ELIMINAR <span class="icono">🗑️</span></button>
        </div>
    </div>
</div>
