<app-nav></app-nav>
<div class="main">
  <h1>Almacén - Accesorios</h1>
  <div class="contenedor">
    <div class="contenido">
      <div class="campo1">
        <label for="idJuguete">ID Accesorio:</label>
        <input type="text" id="idJuguete" placeholder="Ingrese el ID del juguete">
      </div>
      <div class="campo2">
        <label for="Nombre">Nombre del Producto:</label>
        <input type="text" id="Nombre" placeholder="Ingrese el nombre del producto">
      </div>
      <div class="campo3">
        <label for="Marca">Marca:</label>
        <input type="text" id="Marca" placeholder="Ingrese la marca">
      </div>
      <div class="campo4">
        <label for="precio">Precio:</label>
        <input type="text" id="precio" placeholder="Ingrese el precio">
      </div>
      <div class="campo5">
        <label for="para">Apto para:</label>
        <select id="para">
          <option value="">Seleccione el Animal</option>
          <option value="perro">Perro</option>
          <option value="gato">Gato</option>
          <option value="conejo">Conejo</option>
          <option value="pájaro">Ave</option>
        </select>
      </div>
      <div class="campo6">
        <label for="Stock">Stock:</label>
        <input type="text" id="Stock" placeholder="Ingrese el Stock">
      </div>
      <div class="botones">
        <button id="buscar">BUSCAR <span class="icono">🔍</span></button>
        <button id="ingresar">INGRESAR <span class="icono">✈️</span></button>
        <button id="modificar">MODIFICAR <span class="icono">✏️</span></button>
        <button id="eliminar">ELIMINAR <span class="icono">🗑️</span></button>
      </div>
    </div>
</div>

