<app-nav></app-nav>
<div class="main">
  <h1>Citas Médicas</h1>
  <div class="contenedor">
  <div class="contenido">
      <div class="campo1">
          <label for="idDNI">DNI:</label>
          <input type="text" id="idDNI" placeholder="Ingrese su DNI">
      </div>
      <div class="campo2">
          <label for="Nombre">Nombre:</label>
          <input type="text" id="Nombre" placeholder="Ingrese su Nombre">
      </div>
      <div class="campo3">
        <label for="Contacto">Número de Contacto:</label>
        <input type="text" id="Contacto" placeholder="Ingrese el número de contacto">
      </div>
      <div class="campo4">
        <label for="idMascota">ID Mascota:</label>
        <input type="text" id="idMascota" placeholder="Ingrese el Id de la mascota">
      </div>
      <div class="campo5">
        <label for="Servicio">Servicio:</label>
        <select id="Servicio">
            <option value="">Seleccione el servicio</option>
            <option value="Consulta">Consulta</option>
            <option value="estetico">Estetico</option>
            <option value="médico">Medico</option>
            <option value="alimenticio">Alimento</option>
          </select>
      </div>
      <div class="campo6">
        <label for="Dia">Dia:</label>
        <input type="text" id="Dia" placeholder="Ingrese el Dia">
      </div>
      <div class="campo7">
        <label for="Hora">Hora:</label>
        <input type="text" id="Hora" placeholder="Ingrese la Hora">
      </div>
      <div class="botones">
          <button id="buscar">BUSCAR <span class="icono">🔍</span></button>
          <button id="ingresar">INGRESAR <span class="icono">✈️</span></button>
          <button id="modificar">MODIFICAR <span class="icono">✏️</span></button>
          <button id="eliminar">ELIMINAR <span class="icono">🗑️</span></button>
      </div>
  </div>
</div>

