<app-nav></app-nav>
<div class="main">
  <h1>Historial Médico</h1>
  <div class="contenedor">
  <div class="contenido">
      <div class="campo1">
        <label for="NHistoria">N° de Historia:</label>
        <input type="text" id="NHistoria" placeholder="Ingrese el N° de Historia">
      </div>
      <div class="campo2">
        <label for="idMascota">ID Mascota:</label>
        <input type="text" id="idMascota" placeholder="Ingrese el Id de la mascota">
      </div>
      <div class="campo3">
        <label for="NMascota">Nombre Mascota:</label>
        <input type="text" id="NMascota" placeholder="Ingrese el Nombre de la mascota">
      </div>
      <div class="campo4">
        <label for="Dia">Dia:</label>
        <input type="text" id="Dia" placeholder="Ingrese el Dia">
      </div>
      <div class="campo5">
        <label for="Hora">Hora:</label>
        <input type="text" id="Hora" placeholder="Ingrese la Hora">
      </div>

      <div class="botones">
          <button id="buscar">BUSCAR <span class="icono">🔍</span></button>
          <button id="ingresar">INGRESAR <span class="icono">✈️</span></button>
          <button id="modificar">MODIFICAR <span class="icono">✏️</span></button>
          <button id="eliminar">ELIMINAR <span class="icono">🗑️</span></button>
      </div>
  </div>
</div>

